## Q1. List any five functions of the pandas library with execution.

In [4]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [20]:
def reindex_df(df):
    new_index = range(1,2*len(df)+1,2)
    df_reindexed = df.set_index(pd.Index(new_index))
    return df_reindexed

df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
df_reindexed = reindex_df(df)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [11]:
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5, 6, 7, 8, 9]})

def sumtv(df):
    first3val = df['Values'].iloc[:3]
    sum3v = first3val.sum()
    print("Sum of first three values is :",sum3v)

sumtv(df)

Sum of first three values is : 6

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [15]:
df = pd.DataFrame({'Text': ['This is the first row', 'This is the second row', 'And this is the third']})

def func(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

func(df)

                     Text  Word_Count
0   This is the first row           5
1  This is the second row           5
2   And this is the third           5

## Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.shape returns a tuple containing the number of rows and columns in the DataFrame.

DataFrame.size, on the other hand, returns the total number of elements in the DataFrame. This is simply the product of the number of rows and columns in the DataFrame.

## Q6. Which function of pandas do we use to read an excel file?

"read_excel('file.xlsx')"  function is used to read an excel file.

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [18]:
data = {'Email': ['user1@example.com', 'user2@example.com', 'user3@example.com']}
df = pd.DataFrame(data)

def foo(df):
    df[['Username','Domain']] = df['Email'].str.split('@', expand =True)
    return df

df = foo(df)
print(df)

               Email Username       Domain
0  user1@example.com    user1  example.com
1  user2@example.com    user2  example.com
2  user3@example.com    user3  example.com

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.For example, if df contains the following values: 
		  A B C 
		0 3 5 1
		1 8 2 7
		2 6 9 4
		3 2 3 5
		4 9 1 2
        
## Your function should select the following rows:
		  A B C
		1 8 2 7
		4 9 1 2
## The function should return a new DataFrame that contains only the selected rows.

In [26]:
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)


def foo1(df):
	df1 = df[(df['A' ]> 5) & (df['B'] <10)]
	print(df1)
foo1(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [ ]:
import numpy as np

def calculate(df):
   
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std_dev)
calculate(df)

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [ ]:
def moving(df):
    window = 7
    df['MovingAverage'] = df['Sales'].rolling(window,min_periods=1).mean()
    return df

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
## For example, if df contains the following values:
        Date
    0 2023-01-01
	1 2023-01-02
	2 2023-01-03
	3 2023-01-04
	4 2023-01-05
# Your function should create the following DataFrame:

		Date    Weekday
	0 2023-01-01 Sunday
	1 2023-01-02 Monday
	2 2023-01-03 Tuesday
	3 2023-01-04 Wednesday
	4 2023-01-05 Thursday
## The function should return the modified DataFrame.

In [ ]:
def addweekday(df):
    df['Weekday'] = df['Date'].dt.weekday_name
    return df

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [ ]:
def foo(df):
    start = pd.to_datetime('2023-01-01')
    end = pd.to_datetime('2023-01-31')
    disp = () & (df[])

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

pandas library is the first and foremost necessary library that needs to be imported.