## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
l1 = [1,2,3,4,5,6,7,8,9,0]
l1 = pd.Series(l1)
l1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [11]:
mydict = { "Name":["Alice","Bob","Claire"],
          "Age":[25,30,27],
          "Gender":["Female","Male","Female"]
			}
df2 = pd.DataFrame(mydict)
df2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Similar to a table in a spreadsheet or a SQL database, a Pandas DataFrame is a 2-dimensional labelled data structure with columns of potential multiple types. A DataFrame's columns are all Pandas Series. On the other hand, a Pandas Series is a one-dimensional labelled array that may store any sort of data, such as strings, floats, integers, and more.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

You can examine the first or last n rows of the DataFrame using the head() and tail() functions, respectively. For instance, df.head() can be used to quickly examine the first few rows of a big DataFrame.

describe(): This function returns summary statistics, such as count, mean, standard deviation, minimum, maximum, and quartiles, for each column in the DataFrame. To gain a fast summary of the data distribution, you could use df.describe().

information about the DataFrame is provided by the info() function, including the number of non-null values in each column, the data types of each column, and the DataFrame's memory consumption. To quickly determine the size and structure of the DataFrame, you might use the df.info() function.

In [19]:
df0 = pd.read_csv("services.csv")

In [20]:
df0.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [22]:
df0.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [23]:
df0.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [26]:
df0.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In the pandas library, both DataFrame and Panel are mutable, whereas Series is immutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
names = pd.Series(['Fazil','Shreya'])
ages = pd.Series(['22','21'])
students = pd.DataFrame({'Name':names,'Age':ages})

In [29]:
students

     Name Age
0   Fazil  22
1  Shreya  21

This creates a DataFrame with two columns named 'Name' and 'Age', where the values in the 'Name' column are taken from the names Series and the values in the 'Age' column are taken from the ages Series.