## Consider following code to answer further questions:

In [5]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [18]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc method is used to select data from a DataFrame based on the label or index of the rows and columns. 

The iloc method, on the other hand, is used to select data from a DataFrame based on the position or index of the rows and columns.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

In [19]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [24]:
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [25]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [26]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, I did observe that when I use new_df.loc[2], it gives the output as per the label or index.
And when I use new_df.iloc[2] it gives the indexed location's position as an output.

## Consider the below code to answer further questions:

In [29]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.289628  0.030335  0.323424  0.679404  0.861167  0.609787
2  0.965594  0.743452  0.286711  0.830414  0.629164  0.326491
3  0.959347  0.327652  0.526282  0.923712  0.858306  0.600114
4  0.333746  0.205413  0.640721  0.984627  0.490081  0.269970
5  0.923297  0.480850  0.773022  0.866014  0.013653  0.070949
6  0.615873  0.248260  0.995733  0.476180  0.185375  0.510762

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [33]:
meanAll = df1.mean()
print("Mean of Each and every column of the dataframe : \n",meanAll)

Mean of Each and every column of the dataframe :
 column_1    0.681247
column_2    0.339327
column_3    0.590982
column_4    0.793392
column_5    0.506291
column_6    0.398012
dtype: float64

In [35]:
stdAll = df1.std()
print("Standard Deviation of Each and every column of the dataframe : \n",stdAll)

Standard Deviation of Each and every column of the dataframe :
 column_1    0.314699
column_2    0.247056
column_3    0.271216
column_4    0.186449
column_5    0.349540
column_6    0.213020
dtype: float64

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [37]:
df1.loc[2,'column_2'] = 'Shreya'

try:
    col2_Mean = df1['column_2'].mean()
    print('Mean of Column_2',col2_Mean)

except TypeError as e:
    print("TypeError :",e)

TypeError : unsupported operand type(s) for +: 'float' and 'str'

We got an error here because the .mean() method can only operate on numeric data, and a string is not a numeric data type.

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

- A window function in the pandas is a function that runs a calculation on a certain window of rows in a dataframe. 
- A range of rows within the dataframe, or the number of rows before or after the current row, can be used to create the window. On the values of the supplied column(s) within the window, the computation is run.

Types of windows function :
 - Rolling window function
 - Expanding window functions
 - Groupby window functions
 - Exponentially-weighted window functions

## Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [42]:
import datetime
now = datetime.datetime.now()
print('Current Date and Time : ',now)

Current Date and Time :  2023-03-30 10:44:17.360011

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [52]:
date1 = input("Enter the date ('YYYY-MM-DD') : ")
date2 = input("Enter the date ('YYYY-MM-DD') : ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

diff = date2 - date1

days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds % 3600) // 60

print( "Time Difference: {} days, {} hours and {} minutes".format( days, hours, minutes ))

Enter the date ('YYYY-MM-DD') :  2022-03-07
Enter the date ('YYYY-MM-DD') :  2022-12-23

Time Difference: 291 days, 0 hours and 0 minutes

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [57]:

file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the name of the column to convert: ")

df = pd.read_csv(file_path)


category_order = input("Enter the category order, separated by commas: ")
category_order = [cat.strip() for cat in category_order.split(",")]

df[column_name] = pd.Categorical(df[column_name], categories=category_order)

df_sorted = df.sort_values(by=[column_name])

print(df_sorted)

Enter the file path of the CSV file:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the name of the column to convert:  Survived
Enter the category order, separated by commas:  0,1

     PassengerId Survived  Pclass  \
0              1      NaN       3
1              2      NaN       1
2              3      NaN       3
3              4      NaN       1
4              5      NaN       3
..           ...      ...     ...
886          887      NaN       2
887          888      NaN       1
888          889      NaN       3
889          890      NaN       1
890          891      NaN       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [63]:
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])

df.set_index('Date', inplace=True)

df_resampled = df.groupby('Product Category')['Sales'].resample('M').sum().unstack()

ax = df_resampled.plot(kind='bar', stacked=True, figsize=(10, 6))

ax.set_title('Sales by Product Category over Time')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

plt.show()

Enter the file path of the CSV file:  https://github.com/ffzs/dataset/blob/938c52c3a1c603cc3326004ccf77ef4a75861ce8/sales.csv

ParserError: Error tokenizing data. C error: Expected 1 fields in line 27, saw 367

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
## The program should do the following
 - Prompt the user to enter the file path of the CSV file containing the student dataR
 - Read the CSV file into a Pandas DataFrameR
 - Calculate the mean, median, and mode of the test scores using Pandas toolsR
 - Display the mean, median, and mode in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()[0]

# Display the mean, median, and mode in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Test Score': [mean_score, median_score, mode_score]
})
print(results)