## Q.1 What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be stored, accessed, and manipulated easily. SQL and NoSQL are two different types of database management systems that differ in their structure, storage etc.

- SQL Databases follow a structured data model, where data is stored in tabular format. While NOSQL databases follow an unstructured data model, where data is oraganized in a felxible document or key-value format.

- SQL databases have a fixed schema, which defines the structure of the database and the types of data that can be stored in it. In contrast, NoSQL databases do not have a fixed schema, and the structure of the database can be changed as needed.

- SQL databases can only store textual data, whereas NOSQL databases can store images, audio, video files also.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database objects such as tables, indexes, and constraints.

- CREATE : used to create a new database object, such as a table or index. 
	ex :Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
	CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100));
    
- DROP : used to delete an existing database object, such as a table or index.
	ex :
    DROP table customers;
    
- ALTER : used to modify an existing database object, such as a table or index.
	ex :
    ALTER TABLE customers ADD phone VARCHAR(20);

- TRUNCATE :used to delete all the data from an existing table, but keeps the structure of the table intact.
	ex :
    TRUNCATE TABLE customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data stored in a database. 

- INSERT : used to insert new data into a table.
	ex : 
    INSERT INTO customers (id, name, email) VALUES (1, 'Shreya Deshmukh', 'shreya@example.com');

- UPDATE : used to update existing data in a table.
	ex :
    UPDATE customers SET email='johndoe123@example.com' WHERE id=1;

- DELETE : used to delete data from a table.
	EX :
    DELETE FROM customers WHERE id=1;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database. The most common DQL command is SELECT, which is used to select data from one or more tables in a database.

For example,
[SELECT * from employees;] will return all the rows and colums present in the table.

## Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key and a foreign key are used to establish relationships between tables.

Primary Key: A primary key is a column or a combination of columns that uniquely identifies each row in a table. It is used to enforce data integrity by ensuring that each row in the table is unique and can be identified without ambiguity. Typically, a primary key is defined on a column or set of columns that contain unique values.

Foreign Key: A foreign key is a column or a combination of columns in one table that refers to the primary key of another table. It is used to establish relationships between tables, which allows us to retrieve related data from multiple tables using JOINs.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# Python code to connect with MySQL
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

cursor(): The cursor() method is used to create a cursor object, which is used to execute SQL statements and fetch data from the database. 

execute() :  The execute() method is used to execute an SQL statement using the cursor object. The SQL statement is passed as a parameter to the execute() method.

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. SELECT
2. FROM
3. WHERE
4. GROUP BY
5. HAVING
6. OREDER BY
7. LIMIT